<!DOCTYPE html>
<html>
    <body>
        <!--navigation bar --> 
        <div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand">Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#aboutme">About</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#Portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Header-->
        <div id="header" class="header">
            <div clsss="container">
                <div class="row">
                    <div class="col-lg-0 col-md-0 wow bounceInLeft">
                        <h1>Teela Ram Subba</h1>
                        <p>Hi Welcome to my page. I am a physics graduate and web developer. I love to create and learn new technologies.</p> 
                        <a href="#aboutme" class="btn btn-primary btn-xl page-scroll wow slideInUp" data-wow-delay="0.8s">Learn More</a>
                        </div>
                   <!--  <div class="col-lg-6 col-md-6 wow rollIn">
                        <img src="img/tula.JPG" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    <!--End header -->
        <!--Aboutme-->
        <div id="aboutme" class="aboutme">
            <div class="container">
                <div class="row">
                <h2 class="wow fadeInUp">About Me</h2>
                <div class="col-lg-12 col-md-12">
                <img src="img/tula2.JPG" class="img-circle wow fadeInUp" data-wow-delay="0.4s">
                <h4>Teela Ram Subba</h4>
                <b>Web Developer</b>
                <p>I moved to United States from Nepal in 2015. I completed my bcahelor's degree in Physics from Tribhuvan University,Nepal. Also I completed certificate software development courses from Techhire Pittsburgh. Since then I am involving in self and community projects. I love to research and create new things to make people's life easier and more informative. I have created some facebook pages targeting bhutanese refugees lifestyle in eastern Nepal since 2012 and other page for physics students of Central Campus of Technology.</p><br>
                <a id="myresume" href="/pdf/TeelaResume.pdf" download><j class="fa fa-arrow-down" aria-hidden="true"></j>
                Download Resume</a><br><br><br>
                <a href="https://www.facebook.com/tularam.subba"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/TulaRamSubba"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/teela-subba-73a37213b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/subbat9710"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                </div>
            </div>
        </div>
          <!---Skills -->
        <div id="skills" class="skills">
            <div class="container">
                <h2 class="wow fadeInUp">Skills</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Please Click more to see additional skills.</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                    <i class="fa fa-diamond" aria-hidden="true"></i> 
                    <h4>Ruby</h4>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                    <i class="fa fa-html5" aria-hidden="true"></i>
                    <h4>HTML5</h4>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <h4>SQL</h4>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.1s">
                    <i class="fa fa-css3" aria-hidden="true"></i>
                    <h4>CSS3</h4>
                </div>
            </div><br>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg wow bounceInLeft" data-toggle="modal" data-target="#myModal"><j class="fa fa-plus" aria-hidden="true"></j> More</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">   
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Additional Skills</h4>
                        </div>
                    <div class="modal-body">
                        <p>JavaScript, Heroku hosting, Amazon Webservices, Bootstrap, <br> Microsoft word, Microsoft Excel, Photoshop, IOS app(Swift), <br> Fluent in English and Nepali.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <!--Portfolio-->
        <div id="Portfolio" class="Portfolio">
            <div class="container">
                <div class="row">
                    <h2 class="wow fadeInUp">My Portfolio</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Following are some projects that I have created. Click more button to see additional projects.</p><br><br>
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="img/phbook1.PNG" id="image1" alt="" >
                    </div>
                    <div class="col-md-3">
                        <h4><i class="fa fa-phone" aria-hidden="true"></i> Phonebook</h4>
                        <h3 class="my-3">Project Description</h3>
                            <p class="card-text">I created this phonebook app using postgres database. This project is designed to collects form of clients and also immediately we can able to see results of how many have submitted forms.</p>
                        <h3 class="my-3">Project Tools</h3>
                        <ul>
                            <li>Ruby, Sinatra,</li>
                            <li>Bootstrap, Js</li>
                            <li>Postgres, Amazon Webservices</li>
                            <li>Postgress, Heroku</li>
                        </ul><br>
                        <a id="myresume" href="http://phonebook-teela.herokuapp.com/"><j class="fa fa-eye" aria-hidden="true"></j>
                        View Webapp</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <img class="mySlides img-thumbnail" src="img/ttteela.jpg" id="image1" alt="" >
                        <img class="mySlides img-thumbnail" src="img/ttteela1.png" id="image1" alt="" >
                        <img class="mySlides img-thumbnail" src="img/ttteela2.png" id="image1" alt="" >
                    </div>
                    <div class="col-md-3">
                        <h4>Tic Tac Toe</h4>
                        <h3 class="my-3">Project Description</h3>
                            <p class="card-text">As part of the Techhire Pittsburgh class, Tictactoe game was my very first AI design game through out my learning period. It is very complicated and should have broad knowledge about basic things(rules). It was also exciting to learn and do practically.</p>
                        <h3 class="my-3">Project Tools</h3>
                        <ul>
                            <li>Ruby, Sinatra,</li><br>
                            <li>Bootstrap, Js,</li>
                            <li>Heroku</li>
                        </ul><br>
                        <a id="myresume" href="https://teela-tictactoe.herokuapp.com/"><j class="fa fa-eye" aria-hidden="true"></j>
                        View Webapp</a>
                    </div>
                </div>
            </div><!-- <br>
            <a class="btn btn-info btn-lg" href="projects"><j class="fa fa-plus" aria-hidden="true"></j> More</a> -->
        </div> 
        <!--contact-->
        <div id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <h2 class="wow fadeInUp">Contact</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">I'd love your feedback!</p>
                    <form action ="/mywebsite" method ="post">
                    <div class="col-lg-6 col-md-6">
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.8s">
                        <span class="input-group-addon" id="sizing-addon1"><j class="fa fa-user" aria-hidden="true"></j></span>
                        <input type="text" required name="full_name" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name...">
                    </div>
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.4s">
                        <span class="input-group-addon" id="sizing-addon1"><j class="fa fa-envelope" aria-hidden="true"></j></span>
                        <input type="email" required name="email" class="form-control" aria-describedby="sizing-addon1" placeholder="Enter Email...">
                    </div>
                    </div>
                    <div class="col-lg-0 col-md-0">
                    <div class="input-group wow fadeInUp" data-wow-delay="0.4s"> 
                    <textarea type="text" cols="80" rows="3" required name="message" class="form-control" placeholder="Messages"></textarea>
                    <button type="submit" class="btn btn-lg" value="Subscribe">Submit Your Feedback</button>  
                    </div>            
                </div>
            </form><br>
             <div class="error_message"><%= message %></div>
                <a href="#" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i></a>
                </div>
            </div>
        </div> 
        <!--footer-->
        <div id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-0 col-md-0">
                        <h4 class="wow fadeInUp">Hire Me</h4>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> teela.subba1991@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 4124198089</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
