<!DOCTYPE html>
<html>
    <body>
        <div id="Portfolio" class="Portfolio">
            <div class="container">
                <div class="row">
                    <h2 class="wow fadeInUp">Additional Projects</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Following are some projects that I have created.</p><br><br>
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="img/phbook1.PNG" id="image1" alt="" >
                    </div>
                    <div class="col-md-3">
                        <h4><i class="fa fa-calculator" aria-hidden="true"></i> Calculator</h4>
                        <h3 class="my-3">Project Description</h3>
                            <p class="card-text">As part of the Techhire Pittsburgh class,I created this phonebook app using postgres database. This project is designed to collects form of clients and also immediately we can able to see results of how many have submitted forms.</p>
                        <h3 class="my-3">Project Tools</h3>
                        <ul>
                            <li>Ruby, Sinatra,</li>
                            <li>Bootstrap, Js</li>
                            <li>Postgres, Amazon Webservices</li>
                            <li>Postgress, Heroku</li>
                        </ul><br>
                        <a id="myresume" href="http://phonebook-teela.herokuapp.com/"><j class="fa fa-eye" aria-hidden="true"></j>
                        View Webapp</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="img/ttteela.jpg" id="image1" alt="" >
                    </div>
                    <div class="col-md-3">
                        <h4>Tic Tac Toe</h4>
                        <h3 class="my-3">Project Description</h3>
                            <p class="card-text">Tictactoe game was my very first AI design game through out my learning period. It is very complicated and should have broad knowledge about basic things(rules). It was also exciting to learn and do practically.</p>
                        <h3 class="my-3">Project Tools</h3>
                        <ul>
                            <li>Ruby, Sinatra,</li>
                            <li>Bootstrap, Js</li>
                            <li>Postgres, Amazon Webservices</li>
                            <li>Postgress, Heroku</li>
                        </ul><br>
                        <a id="myresume" href="https://teela-tictactoe.herokuapp.com/"><j class="fa fa-eye" aria-hidden="true"></j>
                        View Webapp</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>